<div class="detail-container">
    <img class="product-image" alt="{{product.name}}" src="{{product.url}}" style="height: 320px;">
    <div class="detail-item">
        <div class='title'>{{product.name}}</div>
        <div class='price'>$ {{product.price}}</div>
        <div class='description'>{{product.description}}</div>
        <form (ngSubmit)="addToCart()" #form="ngForm">
            <select name='selectQty' [(ngModel)]="quantity">
                <option *ngFor="let quantity of quantities">{{quantity}}</option>
            </select>
            <br><br>
            <button type="submit" [disabled]="!quantity" class="add-btn">Add to Cart</button>
        </form>
        <br>
        <a routerLink="" class="back-link">&#8592; Back to Product List</a>
    </div>
</div>